.DS_Store
__pycache__/
.ipynb_checkpoints
.idea/
data/clean/
data/datasets/
data/generated/
data/models/
data/raw/
data/interim/
data/movies/*.mov
data/movies/stormlight-generation-kaladin.gif
data/movies/stormlight-generation-dalinar.gif
scratch/
*.swp
lib/dist/
lib/stormlight.egg-info/
reports/reddit.md

